<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gozdehanozturk.sitesite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CategoryActivity"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <activity
            android:name=".MainActivity"
            android:configChanges="screenLayout|orientation">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NoConnectActivity"
            android:configChanges="screenLayout|orientation" />
        <activity android:name=".MyActivity" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/noAnimTheme" />

        <service android:name=".MessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".FavoriteActivity" />
        <activity android:name=".SubActivity" />
        <activity android:name=".OfferActivity"/>
    </application>

</manifest>